*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #ededed;
  font-family: 'Montserrat', sans-serif;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
.main{
  width:600px;
  height: auto;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  align-content:space-around;
  flex-direction:column;
}
header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
header p{
  margin-bottom: 5px;
}
.today{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding:12px 0;
}
.today.info{
  width:60%;
}
.info{
  display: flex;
  flex-direction:column;
  align-self: center;
}
.today.image {
  width: 20%;
}
.date{
  font-size: 1.5em;
}
.time{
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 6px;
  padding: 14px 0;
}
.moisture-pressure{
  padding-bottom: 5px;
}
.moisture-pressure span{
  padding-right: 20px;
}
.day-time{
  padding-bottom: 4px;
}
.sunrise-sunset span{
  padding-right: 20px;
}

.image{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
}
.image .temp{
  margin-top: -10px;
  margin:0 auto;
}
.image>p{
  text-align: center;
}
.image img{
  width: 50%;
  margin: 0 auto;
  margin-top:-45px;
}
.temp{
  width:100px;
  position: relative;

}
.actual-temp {
  font-size: 2.5em;
}
.temp-min-max{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:6px;
  right:-10px;
}
.weather-desc{
  font-size: 1.5em;
  padding-top: 10px;
}
.five-days{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.day{
  text-align: center;
  padding:5px;
}
.day img{
  width: 60px;
  display: block;
  margin: 0 auto;
}
footer{
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
}
.faIcon{
  margin: 0 4px;
}
.faReload {
  padding-left: 4px;
  border-left: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .sunrise-sunset{
      display: flex;
      flex-direction: column;
  }
  .container{
      height: 100%;

  }
  .day{
      font-size: 0.6em;
  }
  .day img{
      width: 45px;
  }
  .image img{
      width: 60%;
  }
}


@media only screen and (max-width: 510px) {
  .image img{
      width: 70%;
  }
}


@media only screen and (max-width: 370px) {
  .today {
      flex-direction: column;
  }
  .info{
    text-align: center;
  }
  .date{
    font-size: 1em;
  }
  .sunrise-sunset{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .time{
    font-size: 2.5em;
  }
  .image img{
    margin-top: -20px;
    width: 60%;
  }
  .temp {
    margin-top: -20px;
  }
}