*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #ededed;
  font-family: 'Montserrat', sans-serif;
  color: #eaeaea;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}
.main{
  width:600px;
  height: auto;
  background-color: #ffffff;

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-content:space-around;
  flex-direction:column;
}
.background {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
}
header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  p {
    margin-bottom: 5px;
  }
  .city{
    cursor: pointer;
  }
}

.now{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding:12px 0;
  .info{
    width:60%;
    display: flex;
    flex-direction:column;
    align-self: center;
  }
  .now.image {
    width: 20%;
  }
}

.date{
  font-size: 1.5em;
}
.time{
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: 6px;
  padding: 14px 0;
}
.moisture-pressure{
  padding-bottom: 5px;
  span{
    padding-right: 20px;
  }
}

.day-time{
  padding-bottom: 4px;
}
.sunrise-sunset span{
  padding-right: 20px;
}

.image{
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  .temp{
    margin:0 auto;
    margin-top: -20px;

  }
  .image>p{
    text-align: center;
  }
  img{
    width: 100%;
    margin: 0 auto;
    margin-top:-30px;
  }
}

.temp{
  width:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  .actual-temp {
    font-size: 2.5em;
  }
  .temp-min-max{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    span {
      text-align: right;
    }
  }
}
.weather-desc{
  font-size: 1.5em;
  padding-top: 10px;
}
.weather-desc::first-letter{
  text-transform: uppercase;
}
.five-days{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.day{
  text-align: center;
  padding:5px;
}
.day img{
  width: 60px;
  display: block;
  margin: 0 auto;
}
footer{
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
}
.faIcon{
  margin: 0 4px;
}
.faReload {
  padding-left: 4px;
  border-left: 1px solid black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;

  .modal-main {
    position:fixed;
    background: white;
    max-width: 550px;
    width:90%;
    height: auto;
    padding: 50px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
    form{
      position: relative;

      .search-term {
        float: left;
        width: 100%;
        border: 3px solid #00B4CC;
        padding: 5px;
        height: 30px;
        border-radius: 5px;
        outline: none;
        color: #9DBFAF;
      }
      
      .search-term:focus{
        color: #00B4CC;
      }
      
      .search-btn {
        position: absolute;  
        right: 0;
        width: 30px;
        height: 30px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
      }
    }
  }
}

.loading-div{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading {
    // align-self: center;
    animation: rotate-infinite .8s linear infinite;
    border: 12px solid #055877;
    border-right-color: transparent;
    border-radius: 50%;
    // display: inline-block;
    height: 100px;
    width: 100px;
  }
  @keyframes rotate-infinite {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100%  {
      -webkit-transform: rotate(360deg); 
    }
  }
}
.error-div{
  p{
    padding: 10px;
  }
  button {
    background-color: transparent;
    border: 2px solid #1ECD97;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    color: #1ECD97;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 13px 25px;
    text-align: center;
  }
}


@media only screen and (max-width: 600px) {
  .sunrise-sunset{
      display: flex;
      flex-direction: column;
  }
  .container{
      height: 100%;
  }

  .day{
      font-size: 0.6em;
      img{
        width: 45px;
      }
  }

  .image img{
      width: 60%;
  }
  .weather-desc{
    text-align: center;
  }
}


@media only screen and (max-width: 510px) {
  .image img{
      width: 70%;
  }
}


@media only screen and (max-width: 470px) {
  .now {
      flex-direction: column;
  }
  .info{
    text-align: center;
    width: 100%;
  }
  .now .info{
    width: 100%;
  }
  .date{
    font-size: 1em;
  }
  .sunrise-sunset{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    span  {
      padding: 0;
    }
  }
  .time{
    font-size: 2.5em;
  }
  .image img{
    margin-top: -20px;
    width: 60%;
  }
  .temp {
    margin-top: -20px;
  }
}

